body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f3f3f6;
  color: #333;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

nav {
  background: #1c3643;
  display: flex;
}

nav a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}
.posts {
  display: flex;
  flex-direction: column;
}

.post {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px; 
}

.post a {
  color: #333;
  text-decoration: none;
}

.post-section {
  background: #fff;
  padding: 30px;
}

.post-section p {
  line-height: 1.4;
}